
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #CAFDFE;
}

   /* .btn-secondary:hover,
    .btn-secondary:focus {
        color: #333;
        background-color: #00F9FF;
    }*/


/*
 * Base structure
 */

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, .3);
}

.cover-container {
  max-width: 42em;
}

/*
 *  артинка курсов
 */
.banner {
    width: 33%;
    max-width: 630px;
    min-width: 420px;
}

@media only screen and (max-width: 480px) {
    .banner {
        width: 90%;
        max-width: 420px;
        min-width: 144px;
    }
}


.shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.rounded-8 {
    border-radius: 8px;
}

.mt-n8 {
    margin-top: -3rem !important;
}

/*
 * анимированный градиент
 */

html, body {
  /*  height: 100%;
    width: 100%;*/
    background: linear-gradient(70deg, #11062C 0%, #210D3E 25%, #BE4EF8 85%, #C451FF 100%);
    background-size: 200%;
    animation: gradient 12s infinite linear;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }

    50% {
        background-position: 20% 100%;
    }

    100% {
        background-position: 80% 0%;
    }
}

